/target
archive
*.iml
.idea
.gsio-memory
prompt.md
.toak-ignore
/*.db
/project-docs

# DuckDB local installation
/libduckdb
/duckdb_env.sh
libduckdb-osx-universal.zip
/.cargo/config.toml
/project-docs/
/vm/
test.out