name: CI

on:
  push:
    branches:
      - main
      - ci
  pull_request:

jobs:
  build:
    name: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
#
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            /opt/duckdb/
          key: ${{ runner.os }}-cargo-${{ github.ref_name }}
#
      - name: Setup Rust
        run: rustup update stable && rustup default stable

      - name: Install system dependencies
        run: |
          apt-get update && \
          apt-get update && apt-get install -y \
          pkg-config \
          cmake \
          libssl-dev \
          curl \
          wget \
          unzip \
          libasound2-dev \
          && rm -rf /var/lib/apt/lists/*

      - name: Tests
        run: cargo test